@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }

  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }

  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  /* background-image: linear-gradient(to top, #69c5ec 20%, #b3d2d8 80%); */
}

.bgTop {
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.custom{
  width: 100%;
  height: 600px;
}

.aboutContent {
  width: 100%;
  z-index: 16;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-top: 100px;
  overflow: hidden;
}

.projectsContent {
  width: 100%;
    padding-top: 30px;
    height: 495px;
    z-index: 16;
    position: fixed;
    overflow: hidden;
display: flex;
flex-direction: row;
/* background-color: antiquewhite; */

justify-content:space-between;
height: 650px;
align-items: flex-end;
margin-top: 75px;
}

.contactContent {
  width: 100%;
    padding-top: 30px;
    height: 495px;
    z-index: 16;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.workContentTerminating {
  width: 100%;
  height: 80vh;
  z-index: 16;
  position: fixed;
  overflow: scroll;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
}
.workContent {
  width: 100%;
  height: 550px;
  z-index: 16;
  position: fixed;
  overflow: scroll;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: scroll;
    justify-content: center;
}


@media screen and (max-width: 3000px) {
  .aboutContent {
  scale:1.5;
  }

    .workContentTerminating {
      scale: 1.5;
    }

}

@media screen and (max-width: 1900px) {
  .aboutContent {
    scale: 1.25;
  }
.workContentTerminating {
  scale: 1.25;
}
}

@media screen and (max-width: 1700px) {
  .aboutContent {
    scale: 1;
  }

    .workContentTerminating {
      scale: 1;
    }

}


